/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .2s; 
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
  --first-color-dark: hsl(var(--hue), 8%, 20%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 75%);
  --body-color: hsl(var(--hue), 8%, 12%);
  --container-color: hsl(var(--hue), 8%, 16%);
}

.dark-theme .about__data button{
  background: black;
  color: white;
}

.dark-theme .home .home__data p, h1{
  color: white;
}

.dark-theme .footer_section{
  background-color: #070c0d;
}

@media (max-width: 768px){
  .dark-theme .home__container .home__data h1 {
    color: white;
  }

}

.dark-theme .about__data button a{
  color: white;
}

.dark-theme .about__container button:hover {
  box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
  box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

.dark-theme .fact .container .row .col-lg-6 span{
  color: white;
}

/*========== Button Dark/Light ==========*/
.change-theme{
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

.nav__btns{
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

/*========== 
Color changes in some parts of 
the website, in dark theme 
==========*/

.dark-theme .steps__bg,
.dark-theme .questions{
  background-color: var(--first-color-dark);
}

.dark-theme .product__circle,
.dark-theme .footer__subscribe{
  background-color: var(--container-color);
}

.dark-theme .scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, .3);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title-center{
  text-align: center;
}

.container{
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid{
  display: grid;
}

.main{
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header{
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .3s; /*For animation dark mode*/
}

/*=============== NAV ===============*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.nav__logo,
.nav__toggle,
.nav__close{
  color: var(--title-color);
}

.nav__logo{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
}

.nav__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

.nav__close{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* Active link */
.active-link{
  position: relative;
  color: var(--first-color);
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}

/*=============== HOME ===============*/
.home{
  padding: 3.5rem 0 2rem;
}

.home__container{
  position: relative;
  row-gap: 2rem;
}

.home__img{
  width: 200px;
  justify-self: center;
  border-radius: 90px;
}

.home__container .home__data{
  cursor: default;
}

.home__container .home__data p {
  font-weight: bolder;
  color: white;
}

.home__container .home__data h1 {
  font-weight: bolder;
  cursor: default;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 50px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 768px){
  .home__container .home__data .name{
    color: white;
  }
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
}

.home__description{
  margin-bottom: var(--mb-2-5);
}

.home__social{
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}


.home__social-follow{
  font-weight: var(--font-semi-bold);
  font-size: var(--smaller-font-size);
  color: black;
  position: relative;
  transform: rotate(90deg);
}

/*Dark*/

.dark-theme .home__social-follow{
  color: white;
}

.dark-theme .github{
  color: white;
}

/*End*/

.home__social-follow::after{
  content: '';
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: dodgerblue;
  right: -45%;
  top: 50%;
}

.home .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

.home__social-links{
  display: inline-flex;
  flex-direction: column;
  row-gap: .25rem;
}

.home__social-link{
  font-size: 1rem;
  color: rgb(0, 0, 0);
  transition: .3s;
  font-weight: 900px;
  font-size: 20px;
}

/*Media Icons Color*/
.youtube {
  color: red;
}

.instagram {
  color: brown;
  font-weight: 900px;
}

.twitter {
  color: green;
}

/*End */


.home__social-link:hover{
  transform: translateX(.25rem);
  color: darkcyan;
  font-size: 40px;
}

.home__container .home__data p{
  color: black;
}

.home__container .home__data h1 {
  color: black;
}

@media (max-width: 768px){
  .home .home__img {
    display: none;
  }
  .home {
    background-image: url("/assets/img/images/bg.gif");
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .home .home__container{
    margin-top: 15em;
  }

  .home .home__data p, h1{
    color: white;
  }

}

/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  transition: .3s;
}

.button:hover .button__icon{
  transform: translateX(.25rem);
}

.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.button--link{
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.button--link:hover .button__icon{
  transform: translateX(.25rem);
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 2rem;
}

.about {
  height: 100vh;
}

.about__img{
  width: 280px;
  justify-self: center;
}

.about__title{
  margin-bottom: var(--mb-1);
}

.about__description{
  margin-bottom: var(--mb-2);
}

.about__details{
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}

.about__details-description{
  display: inline-flex;
  column-gap: .5rem;
  font-size: var(--small-font-size);
}

.about__details-icon{
  font-size: 1rem;
  color: var(--first-color);
  margin-top: .15rem;
}

.about__data h2{
  text-decoration: overline;
  text-decoration-color: cadetblue;
  cursor: pointer;
}

.about__data h2:hover{
  font-size: 90px;
  border: px solid rgba(38, 0, 255, 0.3) ;
  transition:all 1s ease-in-out;
}
.about__data p {
  cursor: pointer;
}

.about__data p:hover{
  font-size: 20px;
}

.about__data button{
  justify-content: space-evenly;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
  box-shadow: 9rem;
  cursor: default;
  background-origin: border-box;
  border: px solid rgba(38, 0, 255, 0.3) ;
  transition:all 1s ease-in-out;
  box-shadow: 17px 17px 17px -2px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}

.section-nav {
  margin-top: 40px;
}

.about__data button a {
  color: black;
  font-size: 1.5rem;
  font-weight: 900;
}

.about__data button::before{
  background-color: dodgerblue;
}

.about__data a {
  margin-top: 2rem;
}

@media (max-width: 768px){
    .about__data{
      text-transform: uppercase;
      text-align: center;
    }

    .section-nav {
      display: none;
    }

}

/*============ Fact ===========*/

.fact .section-title{
    text-align: center;
    margin-bottom: 60px;
}

.fact .section-title h2{
  transition: 0.3s;
  padding-bottom: 10px;
}

.fact .section-title h3 {
  text-decoration: underline;
  text-decoration-color: dodgerblue;
  margin-bottom: -40px;
}

.fact .container .row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  transition:all 1s ease-in-out;
}

.fact .container .row .col-lg-6{
  margin-right: 90px;
}

.fact .container .row .col-lg-6 ul li i{
  color: dodgerblue;
  font-weight: 900px;
  font-size: 1rem;
}

.fact .container .row .col-lg-6{
  margin-right: 90px;
}

.fact .container .row .col-lg-6 strong{
  color: dodgerblue;
  font-size: 20px;
}

.fact .container .row .col-lg-6 span{
  font-weight: bold;
  color: black;
}


@media (max-width: 768px){
  .fact .section-title{
    margin-top: 70px;
  }
  .fact {
    margin-bottom: 70px;
  }
  .fact .container .row{
    display: inline;
    transition: none;
  }
  .fact .container .row .col-lg-6{
    justify-content: left;
    display: contents;

  }
  
}



/*========= End =============*/

/*=============== SKILLS ===============*/
.steps__bg{
  background-color: dodgerblue;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
}

.steps__container{
  gap: 2rem;
  padding-top: 1rem;
}

.steps__title{
  color: #FFF;
}

.steps__card{
  background-color: var(--container-color);
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.steps__card-number{
  display: inline-block;
  background-color: var(--first-color-alt);
  color: #fff;
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  transition: .3s;
}

.steps__card-title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.steps__card-description{
  font-size: var(--small-font-size);
}

.steps__card:hover .steps__card-number{
  transform: translateY(-.25rem);
}

@media (max-width: 768px){
  .steps__container{
    text-align: center;
  }
  
}

/*=============== Testimony ===============*/

section .test{
	position: relative;
  margin-top: 80px;
	min-height: 100vh;
	width: 100%;
	background: #070c0d;
	overflow: hidden;
  height: 100vh;
}

.test .heading {
  justify-content: center;
  text-align: center;
  margin-top: 90px;
  text-decoration: underline;
  margin-bottom: -40px;
  font-size: larger;
  font-weight: 9000px;
}


section .test:before{
	position: absolute;
	content: '';
	width: 2000px;
	height: 100%;
	bottom: -70%;
	border-radius: 50%;
	background: #3b7cf5;
}
section .test .heading{
	display: inline-block;
	position: relative;
	color: #3b7cf5;
	font-size: 4vw;
	padding: 60px;
	width: 100%;
	text-align: center;
	font-weight: 800;
}
section .test .heading:before{
	position: absolute;
	content: '';
	width: 15%;
	height: 7px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 25%;
	background: #393939;
}
section .test .heading b{
	color: #fff;
}
.test .wrapper{
	width: 100%;
	display: flex;
  margin-top: 90px;
  margin-bottom: 90px;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.wrapper .container{
	position: relative;
	width: 350px;
	color: #fff;
	background: #222;
	margin: 40px 10px;
	padding: 4em 3px 40px 5px;
	border-radius: 3px;
	transition: 0.3s ease;
}

.wrapper .container .social{
  margin-top: 20px;
}

.wrapper .container .profile{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -10%;
	width: 100%;
	display: block;
}
.test .wrapper .container .profile .imgBox{
	position: relative;
	height: 100px;
	width: 100px;
	margin: auto;
	border: 8px solid #070c0d;
	border-radius: 50%;
	overflow: hidden;
}
.test .wrapper .container .profile .imgBox img{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	object-fit: cover;
	transition: 0.3s ease;
}
.test .wrapper .container .profile .imgBox:hover img{
	filter: saturate(140%);
	transform: scale(0.95);
}
.test .wrapper .container .profile h2{
	padding: 5px 0;
	text-transform: capitalize;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}
.test .wrapper .container p{
	margin-top: 50px;
	color: #fff;
	padding: 0 8px;
	font-size: 15px;
	opacity: 0.8;
}
.wrapper .container .left{
	font-size: 30px;
	display: block;
	text-align: left;
	color: #3b7cf5;	
}
.test .wrapper .container .right{
	font-size: 30px;
	display: block;
	text-align: right;
	color: #3b7cf5;	
}
.test .wrapper .container .social{
	width: 100%;
}
.test .wrapper .container .social i{
	font-size: 1.2em;
	color: #fff;
	padding: 8px;
	background: rgba(255,255,255,0.08);
	border-radius: 4px;
	box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
.test .wrapper .container .social i:hover{
	background: #3b7cf5;	
}


@media (max-width: 768px){
  .test .heading {
    justify-content: center;
    text-align: center;
    margin-top: 90px;
    text-decoration: underline;
  }


}



/*=============== CONTACT ===============*/
.contact__container{
  row-gap: 1.5rem;
}

.contact__data{
  display: grid;
  row-gap: 2rem;
}

.contact__data h3{
  margin-bottom: -10px;
}


@media (max-width:768px){
  .contact__data {
    display: inline;
  }

}

.contact__subtitle{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: var(--mb-0-5);
}

.contact__description{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

@media (max-width: 768px){
  .contact__description{
    margin-bottom: 20px;
  }

  .contact__description img{
    margin-top: 10px;
  }
}

.contact__information a:hover {
  color: #070c0d;
}

.contact__inputs{
  display: grid;
  row-gap: 2rem;
  margin-bottom: var(--mb-2-5);
}

.contact__content{
  position: relative;
  height: 3rem;
  border-bottom: 1px solid var(--text-color-light);
}

.contact__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;

  color: var(--text-color);

  
  border: none;
  outline: none;
  z-index: 1;
}

.contact__label{
  position: absolute;
  top: .75rem;
  width: 100%;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  transition: .3s;
}

.contact__area{
  height: 7rem;
}

.contact__area textarea{
  resize: none;
}

/*Input focus move up label*/
.contact__input:focus + .contact__label{
  top: -.75rem;
  left: 0;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*Input focus sticky top label*/
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
  top: -.75rem;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*=============== FOOTER ===============*/
.footer_section{
  margin-top: 10rem;
  text-align: center;
  height: 30vh;
}

.footer_section .footer__container{
  align-items: center;
}

.footer__container .footer-heading {
  margin-bottom: 70px;
}

.footer__container .footer-heading h2 {
  margin-bottom: 20px;
}

.footer__social-links{
  display: inline-flex;
  flex-direction: column;
  row-gap: .25rem;
}

.footer__social-link{
  font-size: 1rem;
  color: dodgerblue;
  transition: .3s;
  font-weight: 900px;
  font-size: 20px;
}

.footer__social-link:hover{
  transform: translateX(.25rem);
  color: darkcyan;
  font-size: 40px;
}

.footer__container button{
  justify-content: space-evenly;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
  border-radius: 200px;
  box-shadow: 9rem;
  cursor: default;
  background-origin: border-box;
  border: px solid rgba(38, 0, 255, 0.3) ;
  transition:all 1s ease-in-out;
  box-shadow: 17px 17px 17px -2px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}


/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  background-color: var(--first-color);
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup__icon{
  font-size: 1rem;
  color: #FFF;
}

.scrollup:hover{
  background-color: var(--first-color-alt);
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb{
  background: hsl(var(--hue), 4%, 29%);
  border-radius: .5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img{
    width: 180px;
  }
  .home__title{
    font-size: var(--h1-font-size);
  }

  .steps__bg{
    padding: 2rem 1rem;
  }
  .steps__card{
    padding: 1.5rem;
  }

  .product__container{
    grid-template-columns: .6fr;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .steps__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .product__description{
    padding: 0 4rem;
  }
  .product__container{
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    column-gap: 5rem;
  }

}

@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu{
    margin-left: auto;
  }

  .home__container,
  .about__container,
  .questions__container,
  .contact__container,
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .home{
    padding: 10rem 0 5rem;
  }
  .home__container{
    align-items: center;
  }
  .home__img{
    width: 280px;
    order: 1;
  }
  .home__social{
    top: 30%;
  }

  .questions__container{
    align-items: flex-start;
  }

  .footer__container{
    column-gap: 3rem;
  }
  .footer__subscribe{
    width: initial;
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding: 8rem 0 1rem;
  }
  .section__title,
  .section__title-center{
    font-size: var(--h1-font-size);
  }

  .home{
    padding: 13rem 0 5rem;
  }
  .home__img{
    width: 350px;
  }
  .home__description{
    padding-right: 7rem;
  }

  .about__img{
    width: 380px;
  }

  .steps__container{
    grid-template-columns: repeat(3, 1fr);
  }
  .steps__bg{
    padding: 3.5rem 2.5rem;
  }
  .steps__card-title{
    font-size: var(--normal-font-size);
  }

  .product__description{
    padding: 0 16rem;
  }
  .product__container{
    padding: 4rem 0;
    grid-template-columns: repeat(3, 185px);
    gap: 4rem 6rem;
  }
  .product__img{
    width: 160px;
  }
  .product__circle{
    width: 110px;
    height: 110px;
  }
  .product__title,
  .product__price{
    font-size: var(--normal-font-size);
  }

  .questions__container{
    padding: 1rem 0 4rem;
  }
  .questions__title{
    text-align: initial;
  }
  .questions__group{
    row-gap: 2rem;
  }
  .questions__header{
    padding: 1rem;
  }
  .questions__description{
    padding: 0 3.5rem 2.25rem 2.75rem;
  }

}

@media screen and (min-width: 1200px){
  .home__social{
    right: -3rem;
    row-gap: 4.5rem;
  }
  .home__social-follow{
    font-size: var(--small-font-size);
  }
  .home__social-follow::after{
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link{
    font-size: 1.15rem;
  }

  .about__container{
    column-gap: 7rem;
  }

  .scrollup{
    right: 3rem;
  }
}